$thememode-1-color-green-main: #147a03;
$thememode-1-color-green-second: #68a05e;
$thememode-1-button-color-primary: #147a03;
$thememode-1-button-color-secondary: #68a05e;
$thememode-1-button-radius-small: 1rem;
$thememode-1-button-radius-medium: 2rem;
$thememode-1-button-radius-large: 3rem;
$thememode-1-radius-button-1em: 1rem;
$thememode-1-radius-button-2em: 2rem;
$thememode-1-radius-button-3em: 3rem;
$thememode-1-radius-card-1em: 1rem;
$thememode-1-radius-card-2em: 2rem;
$thememode-1-radius-card-3em: 3rem;
$thememode-1-padding-1em: 1rem;
$thememode-1-padding-2em: 2rem;
$thememode-1-padding-3em: 3rem;
$thememode-1-typography-fontsize-h1: 2rem;
$thememode-1-typography-fontsize-h2: 1.5rem;
$thememode-1-typography-fontsize-h3: 1.25rem;
$thememode-1-typography-fontsize-subtitle1: 1rem;
$thememode-1-typography-fontsize-subtitle2: 0.875rem;
$thememode-1-typography-fontsize-body1: 1rem;
$thememode-1-typography-fontsize-body2: 0.875rem;
$thememode-1-typography-fontweight-bold: 50rem;
$thememode-1-typography-fontweight-regular: 31.25rem;
$thememode-1-typography-fontweight-light: 6.25rem;
$thememode-1-shadow-card-color: #00000040;
$thememode-1-shadow-card-type: dropShadow;
$thememode-1-shadow-card-x: 0;
$thememode-1-shadow-card-y: 4;
$thememode-1-shadow-card-blur: 8;
$thememode-1-shadow-card-spread: 0;